@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html, body
    padding 0
    margin 0
    font-size 16px
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color $ptbd-white

html, body, input, button, textarea
    color $ptbd-black
    font-family: 'Roboto Condensed', sans-serif;

.body-wrapper
    display flex
    flex-direction column
    min-height: 100vh;
    main
        flex 1
        > *
            max-width 45rem
            margin 0 auto

ul, figure, p
    margin 0
    padding 0

p
    margin 1rem

a
    color inherit
    text-decoration inherit
    :hover
        cursor pointer

body.active-modal
    overflow hidden

.vector
    svg
        height 100%

.markbox
    min-height 2rem
    &.bottom, &.top
        position: relative
        &::before
            display block
            content ''
            position absolute
            background-color $ptbd-prim
            height 4px
            left 1.5rem
            right 1.5rem
    &.bottom::before
        bottom -2px
    &.top::before
        top -2px

.progressive-img
    overflow hidden
    position relative
    line-height 0
    img
        width 100%
    .preview
        filter blur(20px)
        transform scale(1.1)
    .indicator {
        position absolute
        left-right-top-bottom 0
        display flex
        justify-content center
        align-items center
    }
    .full
        &.overlay
            position absolute
            left 0
            top 0
            will-change transform, opacity, filter
        &.loaded
            -webkit-animation fadeIn .25s

.ptbd-button
    background-color $ptbd-white
    border 2px solid $ptbd-prim
    &.inactive
        border-color $ptbd-darkgrey
        .vector svg
            fill $ptbd-darkgrey
    &:not(.inactive)
        transition background .2s, box-shadow .2s
        .vector
            transition transform .2s
            svg
                transition fill .2s
        &:focus, &:hover
            box-shadow 0 0 0 0.3rem rgba(255, 84, 60, 0.2)
        &:focus
            border 2px solid darken($ptbd-prim, 25)
        &:hover
            background-color $ptbd-prim
            cursor pointer
            .vector
                transform scale(1.2)
                svg
                    fill $ptbd-white
            &:active
                background-color darken($ptbd-prim, 25)
                box-shadow 0 0 0 0.45rem rgba(255, 84, 60, 0.2)


header
    background-color $ptbd-grey
    height 12rem
    display flex
    .inline
        display flex
    .avatar, .avatar > img
        height 100%
    .logo
        display inline-flex
        justify-content center
        height 100%
        width: 15rem;
        flex-direction column
        .mini
            display none
            height 100%
            width auto
        a
            padding 1rem
            margin-bottom .5rem
            > img
                width 100%
                
    nav
        flex 1
        display flex
        justify-content flex-end
        flex-direction column
        font-size 1.625rem
        margin-bottom .25rem
        text-align right
        ul
            margin-bottom .5rem
            margin-right 1rem
            &:last-child
                font-weight 300
            li
                display inline-block
                &:not(:first-child)
                    margin-left 1.75rem
    @media (max-width: $media-med)
        .logo
            position absolute
            a
                padding-left 2rem
        .avatar
            display none
    @media (max-width: $media-low)
        flex-direction column
        height initial
        .inline
            justify-content center
            a
                height 2rem
                padding .75rem
                margin 0
            .logo
                position static
                width auto
                .full
                    display none
                .mini
                    display initial
        nav
            flex initial
            text-align center
            font-size 1.25rem
            ul
                margin-right 0
                margin-bottom .25rem
                li
                    margin 0 .75rem
                    &:not(:first-child)
                        margin 0 .75rem

footer
    display flex
    align-items center
    > div
        flex 1
        padding 0.4rem 2rem
    .left
        img
            height 2.5rem
            margin-top .4rem
    .right
        text-align right

.archivepage
    padding 1.5rem 0
    .desc, .year, .number
        text-align center
        font-size 1.25rem
    .year
        font-weight 700
        line-height: .95;
        font-size 3.5rem
    .posts
        margin 0 1rem
        a
            display block
            &:not(:last-child)
                margin-bottom 1rem
            &:focus
                outline none
                article
                    box-shadow 0 5px 25px rgba(0,0,0,0.1), 0 0 0 0.2rem rgba(255, 63, 47, 0.7)
            article
                position relative
                display flex
                align-items: flex-end;
                height 9rem
                transform-style preserve-3d
                box-shadow 0 5px 25px rgba(0, 0, 0, 0.1)
                border-radius .5rem
                transform perspective(8000px)
                .info
                    margin .5rem
                    border-radius .25rem
                    overflow hidden
                    font-size 1.2rem
                    display flex
                    z-index 1
                    transform translateZ(40px)
                    @media (max-width: $media-low)
                        font-size 1rem
                    > div
                        padding .5rem .7rem
                    :first-child
                        background-color $ptbd-white
                        color $ptbd-black
                    :last-child
                        background-color $ptbd-black
                        color $ptbd-white
                        
                .background
                    position absolute
                    border-radius .5rem
                    overflow hidden
                    line-height 0
                    left-right-top-bottom 0
                    img
                        width 100%
                        height 100%
                        object-fit cover
                
    
.comicpage
    text-align center
    padding .5rem
    .hidden
        border .1rem solid $ptbd-darkgrey
        opacity 0
        cursor pointer
        transition opacity .2s
        background-color $ptbd-grey
        &:hover, &:active
            opacity 1
    .panels
        margin .5rem auto
        display grid
        grid-template-columns auto auto
        grid-gap .5rem
        @media (max-width: $media-low)
            grid-template-columns auto

.horizonalnav
    height 2.25rem
    display flex
    margin 1rem 0
    align-items center
    justify-content center
    &.right
        justify-content flex-end
    > .ptbd-button
        border-radius 1.5rem
        min-width 2.25rem
        height 100%
        z-index 1
        display flex
        align-items center
        justify-content center
        remove-native()
        .vector
            height: 60%;
        &:not(:first-child)
            margin-left .5rem

.share-dialog
    position fixed
    display flex
    z-index 99
    background-color transparentify($ptbd-black, .5)
    justify-content center
    align-items center
    left-right-top-bottom 0
    .inner
        background-color $ptbd-white
        overflow hidden
        display flex
        border-radius .25rem
        flex-direction column
        width 20rem
        max-width 90vw
        max-height 90vh
        margin 1rem
    .main
        flex 1
        overflow-y auto
        padding 1rem
        .ptbd-button, .link
            border 1px solid $ptbd-prim
            border-radius 50rem
            display flex
            height 2rem
        .ptbd-button
            align-items center
            border-color $ptbd-darkgrey
            remove-native()
            margin 0rem .5rem
            &:not(:last-child)
                margin-bottom .5rem
            > span
                margin 0 .7rem 0 .5rem
            .icon
                background-color $ptbd-darkgrey
                color $ptbd-white
                width 1.75rem
                height 1.75rem
                margin .15rem
                border-radius 50%
                display flex
                justify-content center
                align-items center
                span
                    text-transform uppercase
                    font-weight 600
                    font-size 0.8rem
                    height .9rem
            &:hover, &:focus
                background-color inherit
                cursor pointer
                border-color $ptbd-prim
                .icon
                    background-color $ptbd-prim
            &:active
                background-color $ptbd-grey
        .link
            overflow hidden
            position relative
            .overlay
                position absolute
                left-right-top-bottom 0
                width 100%
                line-height 1
                text-align center
                background-color $ptbd-prim
                color $ptbd-white
            input
                flex 1
                outline none
                border none
                background none
                font-size .9rem
                padding 0 0 0 .75rem
            > div
                border-left 1px solid $ptbd-prim
                padding .5rem .5rem .5rem .4rem
                width 1.2rem
                &:hover, &:focus
                    cursor pointer
                    background-color $ptbd-prim
                    svg
                        fill $ptbd-white
                &:active
                    background-color darken($ptbd-prim, 25)
                    svg
                        fill $ptbd-white
        hr
            border none
            border-top 1px solid $ptbd-darkgrey
            margin 1rem
    .header, .footer
        padding .75rem
    .header
        border-bottom 1px solid $ptbd-grey
    .footer
        border-top 1px solid $ptbd-grey
        remove-native()
        &:hover, &:focus
            background-color $ptbd-grey
            cursor pointer
        &:active
            background-color darken($ptbd-grey, 10)
            
@keyframes fadeIn
  from
    opacity 0
    transform scale(1.1)
    filter blur(20px)
  to
    opacity 1
    transform scale(1)
    filter blur(0)

.fade-enter-active, .fade-leave-active 
    transition opacity .25s

.fade-enter, .fade-leave-to 
    opacity 0