@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html, body
    padding 0
    margin 0
    color: $ptbd-black
    font-size 16px
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Condensed', sans-serif;
    background-color $ptbd-white

.body-wrapper
    display flex
    flex-direction column
    min-height: 100vh;
    main
        flex 1

ul, figure, p
    margin 0
    padding 0

p
    margin 1rem

a
    color inherit
    text-decoration inherit
    :hover
        cursor pointer

.vector
    svg
        height 100%

.markbox
    min-height 2rem
    &.bottom, &.top
        position: relative
        &::before
            display block
            content ''
            position absolute
            background-color $ptbd-prim
            height 4px
            left 1.5rem
            right 1.5rem
    &.bottom::before
        bottom -2px
    &.top::before
        top -2px

.progressive-img
    overflow hidden
    position relative
    line-height 0
    img
        width 100%
    .preview
        filter blur(20px)
        transform scale(1.1)
    .indicator {
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        display flex
        justify-content center
        align-items center
    }
    .full
        position absolute
        left 0
        top 0
        &.willAnimate
            will-change transform, opacity, filter
        &.loaded
            -webkit-animation fadeIn .25s

header
    background-color $ptbd-grey
    height 12rem
    display flex
    .inline
        display flex
    .avatar, .avatar > img
        height 100%
    .logo
        display inline-flex
        justify-content center
        height 100%
        width: 15rem;
        flex-direction column
        .mini
            display none
            height 100%
            width auto
        a
            padding 1rem
            margin-bottom .5rem
            > img
                width 100%
        @media (max-width: $media-med)
            a
                margin-bottom 0
                .mini
                    display initial
                .full
                    display none
                
    nav
        flex 1
        display flex
        justify-content flex-end
        flex-direction column
        font-size 1.625rem
        margin-bottom .25rem
        text-align right
        ul
            margin-bottom .5rem
            margin-right 1rem
            &:last-child
                font-weight 300
            li
                display inline-block
                &:not(:first-child)
                    margin-left 1.75rem
    @media (max-width: $media-med)
        .logo
            position absolute
        .avatar
            display none
    @media (max-width: $media-low)
        height 7rem
        .logo
            width 8.5rem
            justify-content flex-start
        nav
            font-size 1.25rem
            ul li:not(:first-child)
                margin-left 1rem

footer
    display flex
    align-items center
    > div
        flex 1
        padding 0.4rem 2rem
    .left
        img
            height 2.5rem
            margin-top .4rem
    .right
        text-align right

.archivepage
    max-width 45rem
    margin 1.5rem auto
    .desc, .year, .number
        text-align center
        font-size 1.25rem
    .year
        font-weight 700
        line-height: .95;
        font-size 3.5rem
    .posts
        margin 0 1rem
        a
            display block
            &:not(:last-child)
                margin-bottom 1rem
            &:focus
                outline none
                article
                    box-shadow 0 5px 25px rgba(0,0,0,0.1), 0 0 0 0.2rem rgba(255, 63, 47, 0.7)
            article
                position relative
                display flex
                align-items: flex-end;
                height 9rem
                transform-style preserve-3d
                box-shadow 0 5px 25px rgba(0, 0, 0, 0.1)
                border-radius .5rem
                transform perspective(8000px)
                .info
                    margin .5rem
                    border-radius .25rem
                    overflow hidden
                    font-size 1.2rem
                    display flex
                    z-index 1
                    transform translateZ(40px)
                    @media (max-width: $media-low)
                        font-size 1rem
                    > div
                        padding .5rem .7rem
                    :first-child
                        background-color $ptbd-white
                        color $ptbd-black
                    :last-child
                        background-color $ptbd-black
                        color $ptbd-white
                        
                .background
                    position absolute
                    border-radius .5rem
                    overflow hidden
                    line-height 0
                    top 0
                    left 0
                    right 0
                    bottom 0
                    img
                        width 100%
                        height 100%
                        object-fit cover
                
    
.comicpage
    text-align center
    max-width 45rem
    padding 1rem
    margin 0 auto
    .hidden
        border .1rem solid $ptbd-darkgrey
        opacity 0
        cursor pointer
        transition opacity .2s
        background-color #f0f0f0
        &:hover, &:active
            opacity 1
    .panels
        margin 10px auto
        display grid
        grid-template-columns auto auto
        grid-gap 10px

.horizonalnav
    height 2.25rem
    display flex
    margin 1rem 0
    position relative
    align-items center
    justify-content center
    &.right
        justify-content flex-end
                

.button
    border-radius 1.5rem
    background-color $ptbd-white
    min-width 2.25rem
    height 100%
    z-index 1
    border 2px solid $ptbd-prim
    display flex
    align-items center
    justify-content center
    .vector
        height: 60%;
    &:not(:first-child)
        margin-left .5rem
    &.inactive
        border-color $ptbd-darkgrey
        .vector svg
            fill $ptbd-darkgrey
    &:not(.inactive)
        transition background .2s, box-shadow .2s
        .vector
            transition transform .2s
            svg
                transition fill .2s
        &:focus, &:hover
            outline none
            box-shadow 0 0 0 0.3rem rgba(255, 84, 60, 0.2)
        &:focus
            border 2px solid darken($ptbd-prim, 25)
        &:hover
            background-color $ptbd-prim
            cursor pointer
            .vector
                transform scale(1.2)
                svg
                    fill $ptbd-white
            &:active
                background-color darken($ptbd-prim, 25)
                box-shadow 0 0 0 0.45rem rgba(255, 84, 60, 0.2)

@keyframes fadeIn
  from
    opacity 0
    transform scale(1.1)
    filter blur(20px)
  to
    opacity 1
    transform scale(1)
    filter blur(0)
