$ptbd-prim = #ff543c
$ptbd-grey = #f0f0f0
$ptbd-darkgrey = #e6e6e6
$ptbd-white = #ffffff
$ptbd-black = #231f20

//$ptbd-prim = #ff543c
//$ptbd-grey = #292828
//$ptbd-darkgrey = #464646
//$ptbd-white = #0f0f0f
//$ptbd-black = #ffffff

$media-med = 850px
$media-low = 500px

remove-native()
	-webkit-tap-highlight-color transparent
	outline none
	user-select none
	
left-right-top-bottom(n)
	left n
	right n
	top n
	bottom n