$ptbd-prim = #ff543c
$ptbd-grey = #f0f0f0
$ptbd-darkgrey = #e6e6e6
$ptbd-white = #ffffff
$ptbd-black = #231f20

$media-med = 800px
$media-low = 500px

remove-native()
	-webkit-tap-highlight-color transparent
	outline none
	user-select none
	
left-right-top-bottom(n)
	left n
	right n
	top n
	bottom n