---
import logo from '@src/assets/g-logo.svg?raw'
const currentYear = new Date().getFullYear()
---

<footer>
  <a class="g" href="//jwels.berlin" aria-label="Julian Gaibler Website">
    <span aria-hidden="true"><Fragment set:html={logo} /></span>
  </a>
  <span
    >© 2016-{currentYear} Julian Gaibler · <a
      lang="de"
      href="//jwels.berlin/imprint">Impressum</a
    ></span
  >
</footer>

<style lang="sass">
  footer
    display: flex
    flex-direction: column
    align-items: center
    margin-top: tint.$size-16
    text-align: center
    padding: tint.$size-32 tint.$size-16
    color: var(--tint-text-secondary)
    a:hover, a:focus
      color: var(--tint-text-link)
    span > :global(svg)
      height: tint.$size-24
</style>
